body {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 600 !important;
}

textarea {
    font-weight: 600;
}

p {
    margin-bottom: 0 !important;
    margin-right: 1rem;
}

li {
    list-style: none;
}

ul {
    padding: 0 !important;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.home-page-image {
    width: 100%;
    height: 30rem;
}

.image-container {
    position: relative;
    margin-bottom: 4rem;
}


.home-page-h1 {
    z-index: 1;
    font-weight: 700;
    position: absolute;
    width: 100%;
}

.home-page-h2 {
    font-size: 4rem;
    text-align: center;
}

.first-line {
    top: 25%;
    left: 15%;
}

.second-line {
    top: 40%;
    left: 35%;
}

.home-page-h3 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.discover-image {
    width: 60%;
    height: 25rem;
    border: 5px solid black;
    border-radius: 15px;
}

.benefit-details {
    margin-top: 7rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.benefit-details-p {
    text-align: center;
}

.discover-benefits {
    margin: 3rem;
    display: flex;
    font-size: 1.25rem;
    font-weight: 600;
    justify-content: space-evenly;
}
.feature-description {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.feature-detail {
    display: flex;
    flex-direction: column;
}

.feature-section {
    margin: auto;
    margin-bottom: 4rem;
}

.icon {
    font-size: 3rem;
    text-align: center;
}

.center-text {
    text-align: center;
}

.icon-caption {
    font-weight: 600;
}

.form-control {
    margin-bottom: 0.5rem;
}

.login-container {
    margin-top: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.solo-trip-form {
    display : flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 60%;
}

.start-end-dates-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.date-input-wrapper {
    margin-bottom: 1rem;
}

.discover-page-container {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
}

.destination-info {
    width: 50%;
    margin-right: 2rem;
}

.main-container {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
}

.loading-container {
    margin-top: 1rem;
}

.button-section {
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
    
}

.search-flex {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2rem;
    width: 15rem;
    align-items: center;
}

.search-input {
    width: 16rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: .25rem;
}

.list-places {
    width: 21rem;
}

.list-places:hover {
    cursor: pointer;
    background-color: #0275d8;
    color: white;
}

.trip-details-header {
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.trip-info-section {
    display: flex;
    flex-direction: column;
}

.h1-center {
    text-align: center !important;
}

.interesting-place-info {
    word-wrap: break-word;
}

.interesting-place-image {
    margin-right: 1.5rem;
}

.discover-interesting-place-show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover-interesting-place-show > * { margin-bottom: 1rem; }

.interesting-place-show {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.next-button {
    visibility: hidden;
    margin-right: 1rem;
}

.itinerary-section {
    border: none;
    padding-bottom: .25rem !important;
    padding-left: 0 !important;
}

.submit-itinerary-button {
    display: none;
    height: 2.5rem;
    width: 4rem;
    margin-right: 1rem;
}

.add-itinerary-textarea {
    height: 25rem;
    width: 20rem;
}

.create-itinerary-buttons-div {
    display: none;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

.create-trip-button {
    margin: 1rem;
}

.add-itinerary-button {
    display: none;
    margin: auto;
    margin-bottom: 1rem !important;
    
}

.edit-buttons-div {
    justify-content: space-evenly;
    display: none;
    margin-bottom: 1rem;

}

.edit-textarea {
    height: 15rem;
    width: 20rem;
    resize: both;
    margin: 1rem;
}

.itinerary-error {
    margin-left: 1rem;
    color: red;
}

.error-message {
    color: red;
}

.edit-itinerary-button {
   margin-bottom: 2.5rem;
}

.submit-edit-button {
    height: 2.5rem; 
}

.budget-section {
    margin-bottom: 1rem;
    flex-direction: column;
    display: none;
}

.budget-flex {
    margin-bottom: .5rem;
}

.add-budget {
    margin: auto;
    display: none;
}

.budget-input {
    display: none;
}

.budget-span {
    display: none;
}

.landmarks-header {
    text-align: center;
    margin-top: .25rem;
}

.itinerary-flex {
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    
}

.landmark-area-div {
    justify-content: space-evenly;
    margin-left: 3rem;
  
}

.landmark-area-content {
    display: none;
    justify-content: space-evenly;
    width: 100%;
    
    margin: 1rem;
}

.list-and-pag-buttons {
    margin-right: 1.5rem;
}

.itinerary-content {
    display: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.button-and-loading {
    display: flex;
    flex-direction: column;
}

.trip-page-landmark-info-div {
    display: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.trip-page-interesting-place-info {
    display: none;
    margin-bottom: 1rem;
}

.landmarks-to-visit {
    text-align: center;
    display: none;
    margin-left: 2rem;
}

.discover-interesting-place-info {
    align-self: center;
    margin-right: auto;
}

.add-landmark-button {
    margin: auto;
    margin-bottom: 1rem;
}

.close-landmark-info {
    color: #aaa;
    font-size: 1.25rem;
}

.close-landmark-info:hover {
    cursor: pointer;
    color: black;
}

.date-label {
    text-align: center;
}

.trip-loading {
    margin: 0 !important;
}

.trip-show-pag-button {
    margin: 0.5rem;
}


.delete-trip-modal-button {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.delete-trip-modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0, 0.4);
}

.modal-content {
    margin: 15% auto;
    border: 1px solid black;
    padding: 0 1rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-button-section {
    width: 100%;
    margin-top: .5rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.close-modal {  
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
    justify-content: baseline;
}

.close-modal:hover {
    color: black;
    cursor: pointer;
}

.previous-button {
    visibility: hidden;
    margin-left: 1rem;
}

.list-highlight {
    color: black;
    text-decoration: none !important;
}


.list-highlight:hover {
    cursor: pointer;
    background-color: #0275d8;
    color: white;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #0275d8;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    .first-line {
        top: 5%;
        left: 5%;
    }

    .second-line {
        top: 20%;
        left: 10%;
        width: 80%; 
    }

    .home-page-image {
        height: 20rem;
    }

    .feature-section {
        margin-bottom: 2rem;
    }

    .feature-detail {
        margin-bottom: 1.5rem;
        flex-basis: 50%;
    }

    .icon {
        font-size: 2rem;
    }

    .feature-description {
        flex-wrap: wrap;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .icon-caption {
        text-align: center;
    }

    .track {
        margin-left: 1rem;
    }

    .currency {
        margin-left: 1rem;
    }

    .discover-benefits {
        flex-direction: column-reverse;
        margin: 3rem 1rem 4rem 1rem;
    }

    .benefit-details {
        margin: auto;
        margin-bottom: 1.5rem;

    }

    .discover-image {
        height: 15rem;
        width: 100%;
        border: 3px solid black;
        border-radius: 3px;
    }

    .manage-benefits {
        flex-direction: column;
    }

    .discover-page-image {
        width: 75%;
    }

    .itinerary-content {
        flex-direction: column;
    }

    .landmarks-to-visit {
        text-align: start;
        margin-left: 0;
    }

    .landmarks-header {
        text-align: start;
    }

    .add-landmark-button {
        margin: 0;
        align-self: baseline;
    }

    .landmark-area-div {
        margin: 0;
    }

    .list-places {
        width: 90%;
    }

    .flex {
        flex-direction: column;
        align-items: center;
    }

    .close-landmark-info {
        margin-bottom: 0.5rem;
    }

    .interesting-place-show {
        flex-direction: column;
    }

    .landmark-area-content {
        flex-direction: column;
    }

    .list-and-pag-buttons {
        margin-top: 1rem;
    }

    .interesting-place-image {
        width: 90%;
        margin: 0;
    }

    .loading-container {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

@media (max-width: 650px) {
    .discover-page-container {
        flex-direction: column;
        margin: 0.5rem;
    }
}