body {
    font-family: sans-serif !important;
}

li {
    list-style: none;
}

.page-container {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
}

.destination-info {
    width: 50%;
}

.container {
    margin: 1.5rem;
}

.button-section {
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
    width: 21rem;
}

.search-flex {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2rem;
    width: 15rem;
    align-items: center;
}

.search-input {
    width: 16rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: .25rem;
}

.list-places {
    width: 21rem;
}

.list-places:hover {
    cursor: pointer;
    background-color: #0275d8;
    color: white;
}

.h1-center {
    text-align: center !important;
}

.interesting-place-info {
    width: 50%;
    word-wrap: break-word;
    margin-right: 8rem;
}

.next-button {
    visibility: hidden;
    margin-right: 1rem;
    
}

.previous-button {
    visibility: hidden;
    margin-left: 1rem;
}

.list-highlight {
    color: black;
    text-decoration: none !important;
}


.list-highlight:hover {
    cursor: pointer;
    background-color: #0275d8;
    color: white;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #0275d8;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}