{% extends 'travelapp/layout.html' %}
 

{% block body %}
<div class="main-container">


    <h1 class="h1-center">Discover A Destination For Your Next Trip!</h1>

    <section class="search-flex">
        <input class="search-input" type="text" id="search-input" placeholder="Search by city, region, village, etc.">
        <button id="discover-submit" class="btn btn-primary">Find Destination</button>
    </section>
    

    <div id="discover-search-result">

    </div>

    
    <div id="loading"></div>
    

    <div id="search-result-error">

    </div>

</div> 

    

{% endblock %} 