{% extends 'travelapp/layout.html' %}  

{% block body %} 

<div class="discover-page-container">
    <section class="destination-info">
        <div id="destination-container" class="destination-container">
            <h1 class="destination-title" id="destination-name">{{ name }}</h1>
        </div>
        <div class="loading-container">
            <div id="loading"></div>
        </div>
        <h3>Landmarks</h3>
        <div id="interesting-places-list">
            
        
        </div>
        <section id="button-section" class="button-section">
            <button id="previous-button" class="btn btn-primary previous-button">Previous</button>
            <button id="next-button" class="btn btn-primary next-button">Next</button>
        </section>
    </section>

    <section class="interesting-place-info discover-interesting-place-info">
        <div id="interesting-place-show" class="discover-interesting-place-show">

        </div>
    </section>
    
</div>




{% endblock %} 