{% extends 'travelapp/layout.html' %}
{% load static %}

{% block body %}  

<div class="container">


    <h1>Plan Your Dream Trip!</h1>

    <span> 
            {{ message }}
        
    </span>
    
    <form id="trip-form" class="form-group" action="{% url 'plan' %}" method="post">
        {% csrf_token %} 
        {{ trip_form }}
        <input type="hidden" name="lat">
        <input type="hidden" name="lon">
        <button id="create-trip-button" class="btn btn-primary">Create Trip</button>
    </form> 

   
</div>


{% endblock %} 

{% block script %}
    <script type="module" src="{% static 'travelapp/plan.js' %}"></script>
{% endblock %}