{% extends 'travelapp/layout.html' %} 
{% load static %}

{% block body %} 

    <h1>{{ trip.destination }} Trip Details</h1>
    
    {% for i in number_of_days %}
        <div id="{{ i }}" data-tripid="{{ trip.id }}" class="list-group-item list-highlight day-itinerary">Day {{ i }}</div>
        <div id="{{ i }}-div" class="itinerary-flex">
            <section id="{{ i }}-section" class="itinerary-section list-group-item"></section>
        </div>
         
    {% endfor %} 


{% endblock %} 

{% block script %}
    <script type="module" src="{% static 'travelapp/itinerary.js' %}"></script>
{% endblock %}
