{% extends 'travelapp/layout.html' %} 
{% load static %}

{% block body %} 
    <div class="trip-details-header">
        <h1>{{ trip.destination }} Trip Details</h1>
        <section class="trip-info-section">
            <span>Budget: ${{ trip.budget }}</span>
            <span>Dates: {{ trip.trip_start_date }} - {{ trip.trip_end_date }}</span>
        </section>
    </div>
    
    
    {% for i in number_of_days %}
        <div id="{{ i }}" data-tripid="{{ trip.id }}" class="list-group-item list-highlight day-itinerary">Day {{ i }}</div>
            <div class="itinerary-content">
                <div id="{{ i }}-div" class="itinerary-flex">
                    
                
                    <section id="{{ i }}-section" class="itinerary-section list-group-item">
                    
                        <button id="{{ i }}-submit" class="btn btn-primary submit-itinerary-button itinerary-button">Enter</button>
                    </section>
                    <div class="edit-buttons-div" id="{{ i }}-edit-buttons-div">

                    </div>

                </div>
                <div class="landmark-area-div" id="{{ i }}-landmark-area-div">
                    <div class="landmark-area-content">
                        <button id="{{ i }}-add-landmark-button" class="btn btn-primary add-landmark-button">Add Landmark</button>
                    </div>
                   

                </div>
            </div>
         
    {% endfor %} 

    <button id="delete-trip-modal-button" class="btn btn-danger delete-trip-modal-button">Delete Trip</button>

    <div id="delete-trip-modal" class="delete-trip-modal">
        <div class="modal-content">
            <span id="close-modal" class="close-modal">&times;</span>
            <span class="modal-span">Are you sure you want to delete your {{ trip.destination }} trip?</span>
            <section class="modal-button-section">
                <button id="yes-delete" class="btn btn-danger">Yes</button>
                <button id="not-delete" class="btn btn-primary">No</button>
            </section>
        </div>
        
    </div>
{% endblock %} 

{% block script %}
    <script type="module" src="{% static 'travelapp/itinerary.js' %}"></script>
{% endblock %}

