{% extends 'travelapp/layout.html' %} 

{% block body %} 
    <div class="my-trips-container">
        <h1 class="h1-center">My Trips</h1>

        {% if notrips %}
            <div class="no-trips-div">
                <section>You don't have any trips!</section>
                <a href="{% url 'plan' }">Plan A Trip</a>
            </div>
        {% endif %}
        {% for trip in trips %} 
            <a href="{% url 'trip_show' trip.id %}" class="list-group-item list-highlight">{{ trip.destination }}</a>
        {% endfor %} 
    </div>
    
{% endblock %}  