{% extends 'travelapp/layout.html' %} 
{% load static %}

{% block body %} 
    <div class="trip-details-header">
        <h1>{{ trip.destination }} Trip Details</h1>
        <section class="trip-info-section">
            <span>Budget: ${{ trip.budget }}</span>
            <span>Dates: {{ trip.trip_start_date }} - {{ trip.trip_end_date }}</span>
        </section>
    </div>
    
    
    {% for i in number_of_days %}
        <div id="{{ i }}" data-tripid="{{ trip.id }}" data-lat="{{ trip.lat }}" data-lon="{{ trip.lon }}" class="list-group-item list-highlight day-itinerary">Day {{ i }}</div>
            <div id="{{ i }}-itinerary-content" class="itinerary-content">
                <div id="{{ i }}-div" class="itinerary-flex">
                    
                
                    <section id="{{ i }}-section" class="itinerary-section list-group-item">
                    
                        
                    </section>
                    <div id="{{ i }}-create-itinerary-buttons-div" class="create-itinerary-buttons-div">
                        <button class="btn btn-primary itinerary-button add-itinerary-button" id="{{ i }}-add-itinerary-button">Add Itinerary</button>
                        <button id="{{ i }}-submit" class="btn btn-primary submit-itinerary-button itinerary-button">Enter</button>
                    </div>
                    
                    <div class="edit-buttons-div" id="{{ i }}-edit-buttons-div">
                        
                        <button id="{{ i }}-cancel-edit-button" class="btn btn-primary cancel-edit-button">Cancel</button>
                        <button id="{{ i }}-submit-edit-button" class="btn btn-primary submit-edit-button">Enter</button>
                        
                    </div>
                    <section class="budget-section" id="{{ i }}-budget-section">
                        <div class="budget-flex">
                            <span id="{{ i }}-day-budget-tag">Day Budget: </span>
                            <span id="{{ i }}-budget-span" class="budget-span"></span>
                            <input id="{{ i }}-budget-input" min="0" type="number" class="budget-input">
                        </div>
                        <button class="btn btn-primary add-budget" id="{{ i }}-add-budget-button">Enter Budget</button>
                    </section>
        

                </div>
                <div class="landmarks-to-visit" id="{{ i }}-landmarks-to-visit">
                    <h4 class="landmarks-header">Landmarks To Visit</h4>
                    <section class="landmarks-to-visit-content" id="{{ i }}-landmarks-to-visit-content">
                        <ul class="landmarks-to-visit-ul" id="{{ i }}-landmarks-to-visit-ul">
                            
                        </ul>
                    </section>
                    <div class="button-and-loading">
                        <button id="{{ i }}-add-landmark-button" class="btn btn-primary add-landmark-button">Add Landmark</button>
                        <span id="{{ i }}-landmarks-error" class="landmarks-error"></span>
                    </div>
                </div>
                <div class="landmark-area-div" id="{{ i }}-landmark-area-div">
                    
                    <div id="{{ i }}-landmark-area-content" class="landmark-area-content">
                        <div id="loading" class="trip-loading"></div>
                        <div class="list-and-pag-buttons">
                            
                            
                            <div id="{{ i }}-interesting-places-list" class="interesting-places-list">
                                <section id="button-section" class="button-section">
                                    <button id="{{ i }}-previous-button" class="btn btn-primary previous-button trip-show-pag-button">Previous</button>
                                    <button id="{{ i }}-next-button" class="btn btn-primary next-button trip-show-pag-button">Next</button>
                                </section>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                    <div id="loading" class="itinerary-landmark-info-loading"></div>
                </div>
            </div>
            <div id="{{ i }}-trip-page-landmark-info-div" class="trip-page-landmark-info-div">
                <section id="{{ i }}-interesting-place-section" class="interesting-place-info trip-page-interesting-place-info">
                    <div class="flex">
                        <h1 id="{{ i }}-interesting-place-h1"></h1>
                        <span id="{{ i }}-close-landmark-info" class="close-landmark-info">&times;</span>
                        <button id="{{ i }}-create-visit-landmark-button" class="btn btn-primary create-visit-landmark-button">Add to Itinerary</button>
                    </div>
                    <div id="{{ i }}-interesting-place-show" class="interesting-place-show">
                        
                        
                    </div>
                    
                </section>
            </div>
            
         
    {% endfor %} 

    <button id="delete-trip-modal-button" class="btn btn-danger delete-trip-modal-button">Delete Trip</button>

    <div id="delete-trip-modal" class="delete-trip-modal">
        <div class="modal-content">
            <span id="close-modal" class="close-modal">&times;</span>
            <span class="modal-span">Are you sure you want to delete your {{ trip.destination }} trip?</span>
            <section class="modal-button-section">
                <button id="yes-delete" class="btn btn-danger">Yes</button>
                <button id="not-delete" class="btn btn-primary">No</button>
            </section>
        </div>
        
    </div>
{% endblock %} 

{% block script %}
    <script type="module" src="{% static 'travelapp/itinerary.js' %}"></script>
{% endblock %}

